.var-item {
     display: grid;
     gap: 10px 0px;
     align-items: center;
     padding-bottom: 20px;

     &__name-column {
          font-size: 16px;
          color: rgb(0, 225, 255);
          text-decoration: underline;

          a {
               color: inherit;
          }

          @media (max-width: 550px) {
               text-align: center;
          }

          ;
     }

     &__name-item {}

     &__desc-column {
          color: #474646;
     }

     &__desc-item {}

     @media (min-width: 550px) {
          grid-template-columns: 200px 1fr;
          gap: 10px;
     }

}