@import "_nullStyle.scss";
//==================================================================================

body {
     background-color: rgb(120, 205, 229);
}

#root {
     min-height: 100%;
}

.error-page {
     line-height: 100vh;
     width: 100%;
     background-color: red;
     color: white;
     font-size: 30px;
     font-weight: 800;
}

.container {
     max-width: 1440px;
     min-height: 100vh;
     margin: 0 auto;
     background-color: #fff;
     overflow: hidden;
}