.app {
     min-height: 100%;
     position: relative;

     &__container {
          display: flex;
          flex-direction: column;
          align-items: center;
          min-height: 100%;
          overflow: auto;
     }

     &__main-content {
          height: 100%;
          width: 100%;
          margin: 0 auto;
          padding: 10px 20px;
          text-align: center;
     }
}

.main-content {
     &__decoded-block {}

     &__form-wrapper {}

     &__vehicle-infolist {}
}