.button {
     display: inline-block;
     padding: 6px 12px;
     margin-bottom: 0;
     font-size: 14px;
     font-weight: 400;
     line-height: 1.42857143;
     text-align: center;
     white-space: nowrap;
     vertical-align: middle;
     border: 1px solid transparent;
     border-radius: 4px;
     color: #fff;
     background-color: #5bc0de;
     border-color: #46b8da;
     cursor: pointer;

     opacity: 1;
     transition: all 0.3s ease 0s;

     &:disabled {
          opacity: .5;
          cursor: not-allowed;
     }
}