.vehicle-infolist {

     &__item {
          line-height: 100%;
          width: 100%;
          vertical-align: middle;
          display: inline-block;
     }

     &__row {
          display: flex;
          align-items: center;
          justify-content: space-between;
          gap: 0px 20px;
          text-align: left;
     }

     &__column-var {
          flex: 0 1 50%;
          font-size: 16px;
          font-weight: 700;
          letter-spacing: 1.5px;
          line-height: calc(19/14);
     }

     &__column-value {
          text-align: right;
          text-align-last: auto;
     }
}